# Environment variables for Charlitron
GEMINI_API_KEY=
VITE_SUPABASE_URL=https://suusxdmjdrhcfimbkasy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN1dXN4ZG1qZHJoY2ZpbWJrYXN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE0MjgzOTYsImV4cCI6MjA3NzAwNDM5Nn0.C4Zju8ZBzDyRtvptYD94t4k_zsxJc8qBMoZ32Ha5q_E
